.team {
  margin-bottom: 90px;
  margin-top: 90px;
}
.about__about-text {
  line-height: 24px;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
  margin-bottom: 100px;
  @include fontsDecoration(14px, $color-fonts, 'Roboto');
}
/* CARDS TEAM */
.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.team-list {
  position: relative;
}

// .team-list__trasparent:hover .icons {
//   opacity: 1;
//   -webkit-transition: 0.2s linear;
//   -o-transition: 0.2s linear;
//   transition: 0.2s linear;
// }
.team-list__transparent {
  width: 380px;
  height: 472px;
  position: absolute;
  top: 0;
  opacity: 0;

  &:hover {
    opacity: 0.5;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff9999),
      to(#ffff99)
    );
    background-image: -webkit-linear-gradient(top, #ff9999, #ffff99);
    background-image: -o-linear-gradient(top, #ff9999, #ffff99);
    background-image: linear-gradient(to bottom, #ff9999, #ffff99);
    -webkit-box-shadow: 10px 10px 0 rgba(153, 204, 255, 0.7);
    box-shadow: 10px 10px 0 rgba(153, 204, 255, 0.7);
    -webkit-transition: -webkit-box-shadow 0.2s linear;
    transition: -webkit-box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
  }
}
.team-list:hover .icons {
  opacity: 1;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.team-list__name {
  text-transform: uppercase;
  text-align: center;
}
.team-list__job {
  text-align: center;
  margin: 0 auto;
  @include fontsDecoration(14px, $color-fonts, 'Roboto', 400, italic);
}
/* ICONS */
.for-icons {
  position: relative;
  width: 380px;
  height: 472px;
}
.icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  padding: 0;
  margin: 0 auto;
  opacity: 0;
  width: 230px;
}
.icons__icon-social {
  display: block;
  width: 56px;
  height: 56px;
  text-decoration: none;
  background-color: $background-socials;
  text-decoration: none;
  padding-top: 14px;

  &:hover {
    background-color: rgb(255, 153, 153);
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;

    &:hover .icons__social {
      fill: rgb(255, 255, 255);
      -webkit-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      transition: 0.2s linear;
    }
  }
}

.icons__social {
  display: block;
  fill: rgb(255, 153, 153);
  margin: 0 auto;
}
