.team {
  margin-bottom: 90px;
  margin-top: 90px;
}
.about__about-text {
  line-height: 24px;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
  margin-bottom: 100px;
  @include fontsDecoration(14px, $color-fonts, 'Roboto');
}
/* CARDS TEAM */
.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.team-list {
  position: relative;

  &:hover .team-list__transparent {
    opacity: 1;
    box-shadow: 10px 10px 0 rgba(153, 204, 255, 0.7);
    transition: box-shadow 0.2s linear;
  }

  &:hover .icons {
    opacity: 1;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
}
.team-list__transparent {
  position: absolute;
  width: 382px;
  height: 474px;
  top: 0;
  opacity: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 153, 153, 0.5),
    rgba(255, 255, 153, 0.5)
  );
}
.team-list__name {
  text-transform: uppercase;
  text-align: center;
}
.team-list__job {
  text-align: center;
  margin: 0 auto;
  @include fontsDecoration(14px, $color-fonts, 'Roboto', 400, italic);
}
/* ICONS */
.for-icons {
  width: 380px;
  height: 472px;
}
.icons {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 208px;
  left: 74px;
  padding: 0;
  margin: 0 auto;
  opacity: 0;
  width: 230px;
  height: 58px;
}
.icons__icon-social {
  display: block;
  width: 56px;
  height: 56px;
  text-decoration: none;
  background-color: $background-socials;
  text-decoration: none;
  padding-top: 14px;

  &:hover {
    background-color: $socials;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }

  &:hover .icons__social {
    fill: $color-white;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
}
.icons__social {
  display: block;
  fill: $socials;
  margin: 0 auto;
}
