html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* FONTS */
  @font-face {
    font-family: 'MontserratB';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

 /* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v20-latin-100.eot'); /* IE9 Compat Modes */
    src: local('Roboto Thin'), local('Roboto-Thin'),
         url('../fonts/roboto-v20-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-100.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
  }

  /* HEADER */
  .wrapper {
      display: block;
      width: 320px;
      margin: 0 auto;
  }
  .site-pic {
    background-image: url(../img/Vector\ Smart\ Object.png);
    background-color: #000000;
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      margin: 0 auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  .site-header {
      /* position: absolute; */
      top: 0;
      text-align: center;
      padding: 20px 10px;
      margin: 0 auto;
  }
  .site-button {
      width: 86px;
      height: 30px;
      background-color: transparent;
      border: transparent;
      border-radius: 30px;
  }
  .site-button-lik {
    font-family: 'MontserratB';
    font-size: 14px;
      text-decoration: none;
      color: #ffffff;
  }
  .site-button:focus,
  .site-button:hover {
    border: 2px solid #ffffff;
  }
  .name-site {
    font-family: 'MontserratB';
      font-size: 20px;
      padding-top: 124px;
      text-transform: uppercase;
      color: #ffffff;
      padding-bottom: 20px;
      margin: 0;
  }
  .name-site-about {
    font-family: 'MontserratB';
      font-size: 30px;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      color: #ffffff;
      padding-bottom: 18px;
  }
  .name-site-theme {
    font-family: 'RobotoL';
    letter-spacing: -0.3px;
      color: #ffffff;
      font-size: 18px;
      margin: 0;
      padding: 0 34px 14px 34px;
  }
  .name-site-doing {
    font-family: 'MontserratB';
      width: 280px;
      height: 40px;
      color: #ffffff;
      background-color: #ff4e50;
      border-radius: 30px;
      border: transparent;
  }

  /* SECTION SITE ABOUT */
  .site-about {
      margin-bottom: 60px;
  }
  .site-cards {
      list-style: none;
      padding: 0 40px 0 40px;
      text-align: center;
      margin: 0;
  }
  h2 {
      font-family: 'MontserratB';
      font-size: 22px;
      text-align: center;
      margin: 0;
      padding-top: 64px;
  }
  .site-cards-item {
      position: relative;
    padding-bottom: 30px;
  }
  .site-cards-photo {
      position: relative;
      margin: 0;
      margin-bottom: 24px;
  }
  .site-cards-item::after {
      position: absolute;
      content: '';
      background-position: center;
      background-repeat: no-repeat;
      border: 3px solid #ffffff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      right: 60px;
      top: 86px;
      /* z-index: 1; */
  }
  .item-first::after {
    background-image: url(../img/icon11.png);
    background-color: #ff4e50;
  }
  .item-second::after {
    background-image: url(../img/icon22.png);
    background-color: #ffa507;
  }
  .item-third::after {
    background-image: url(../img/icon33.png);
    background-color: #1cd7ad;
  }
  .item-forth::after {
    background-image: url(../img/icon44.png);
    background-color: #4e73db;
  }
  .site-cards-name {
    font-family: 'MontserratB';
    padding: 0;
    padding-bottom: 16px;
    margin: 0;
  }
  .site-cards-about {
    font-family: 'RobotoL';
    color: #666666;
    letter-spacing: -0.3px;
    padding: 0;
    /* padding-bottom: 16px; */
    margin: 0;
  }

  /* BUTTON */
  .cards-more {
      display: block;
      margin: 0 auto;
  font-family: 'MontserratB';
  width: 280px;
  height: 40px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #ff4e50 ;
  }
  .cards-more-item {
    color: #ff4e50;
    text-decoration: none;
  }

  @media (min-width:768px) {
    .wrapper {
        display: block;
        width: 748px;
        margin: 0 auto;
    }
    .clearfix::after {
        display: table;
        content: "";
        clear: both;
    }
    .site-pic {
        background-image: url(../img/medium-background.png);
    }
    .buttons {
        padding: 46px 40px 0px 40px;
    }
    .name-site {
        float: left;
        padding: 0;
    }
    .site-button {
        float: right;
        margin-bottom: 160px;
    }
    .site-header {
       margin: 0 auto;
       padding: 0;
       padding-bottom: 234px;
    }
    .name-site-about {
        font-size: 52px;
     padding: 0 120px 0 120px;
      margin: 0 auto;
      padding-bottom: 36px;
    }
    .name-site-theme {
        font-size: 24px;
        letter-spacing: 0px;
        padding-bottom: 36px;
    }
    .name-site-doing {
        font-size: 14px;
        width: 248px;
    }
    .site-cards {
        width: 532px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        padding-top: 34px;
    }
.site-cards-item {
    width: 256px;
    padding: 0 16px 56px 16px;
}
.item-second {
order: 1;
}
.item-forth {
    order: 2;
}
/* .site-cards-item:not(:nth-last-child(-n + 2)) {
    padding-bottom: 56px;
} */
}
  

  @media (min-width:942px) {
    .wrapper {
        width: 942px;
    }
.site-pic {
    background-image: url(../img/large-background.png);
}
.site-cards {
    width: 940px;
}
.site-cards-item {
    width: 222px;
}
.name-site-about {
    padding-right: 200px;
    padding-left: 200px;
}
}